.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar_warapper a{
  padding-left: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container{
  width: 175vh;
  height: 25vw;
}

#usuariosMapa{
  width: 50vh;
  height: 5vw;
}


#filtros{
  display: flex;
  justify-content:space-around;
}

#boxFilt{
  margin: 0 30px;
}


[role=tooltip].popup-content {
  width: 400px;
  box-shadow: 0 0 3px rgb(0 0 0 / 16%);
  border-radius: 5px;
  background-color: white;
}